<mat-drawer-container class="example-container h-screen" autosize>
  <mat-drawer
    #drawer
    class="w-[300px] example-sidenav"
    [opened]="true"
    mode="side"
  >
    <p
      class="border-r-0 border-l-0 border-t-0 border-b-2 border-solid border-gray-400 min-h-[56px] flex justify-center items-center m-0"
    >
      PLATZ FÜR LOGO
    </p>
    <ul class="flex gap-2 flex-col w-full pl-0">
      <li
        routerLink="/"
        class="flex items-center gap-4 pl-4 h-[48px] hover:bg-gray-200"
      >
        <mat-icon>dashboard</mat-icon>Dashboard
      </li>
      <li
        routerLink="/user"
        class="items-center flex gap-4 pl-4 h-[48px] hover:bg-gray-200"
      >
        <mat-icon>person</mat-icon>User
      </li>
    </ul>
  </mat-drawer>
  <mat-toolbar>
    <mat-toolbar-row class="bg-blue-500 max-h-[56px]">
      <mat-icon class="cursor-pointer" (click)="drawer.toggle()">menu</mat-icon>
      <span>Simple CRM</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="pt-4 pl-16">
    <router-outlet></router-outlet>
  </div>
  <div class="example-sidenav-content"></div>
</mat-drawer-container>
