<mat-card class="min-h-[250px] !bg-orange-700 flex justify-end">
  <mat-card-content class="!flex">
    <img
      class="w-[100px] h-[80px] rounded-full object-cover"
      src="assets/img/mann.jpg"
      alt="Mann"
    />
    <div class="ml-[32px] flex flex-col text-white">
      <h2 class="m-0">Max Mustermann</h2>
      <p class="mt-2">email&#64;emdaail.de</p>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="mt-8">
  <mat-card-header>
    <mat-card-title>Address</mat-card-title>
  </mat-card-header>
  <mat-card-content class="mt-4">
    <p class="m-0">Musterstr. 23</p>
    <p class="m-0">41312 Schwalmtal</p>
  </mat-card-content>
</mat-card>
